<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Order Placed</title>

</head>

<body style="font-family:Arial;background:#f4f4f4;padding:30px;">

<div style="max-width:650px;background:white;margin:auto;padding:30px;border-radius:10px;">

    <h2 style="color:#28a745;">
        Order Placed Successfully
    </h2>

    <p>Hello Customer,</p>

    <p>

        Your order has been placed successfully.

    </p>

    <h3>

        Order ID :
        {{ORDER_ID}}

    </h3>

    <br>

    <p>

        Thank you for shopping with us.

    </p>

    <br>

    <b>

        Ecommerce Team

    </b>

</div>

</body>

</html>