<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Payment Success</title>

</head>

<body style="background:#f2f2f2;font-family:Arial;padding:30px;">

<div style="background:white;padding:30px;border-radius:10px;max-width:650px;margin:auto;">

    <h2 style="color:green;">

        Payment Successful

    </h2>

    <p>

        Your payment has been received successfully.

    </p>

    <h3>

        Order ID :

        {{ORDER_ID}}

    </h3>

    <p>

        Thank you for your purchase.

    </p>

</div>

</body>

</html>